{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="d-flex flex-wrap container-fluid justify-content-evenly">
    <div class="card col-md-5 col-11 col- bg-body-secondary shadow p-3">
        <p class="card-header display-3">Tournois à venir</p>
        <main class="card-body">
            {{ dump(commingTournaments) }}
        </main>
    </div>
    <div class="card col-md-5 col-11 bg-body-secondary shadow p-3">
        <p class="card-header display-3">Championats en cours</p>
        <main class="card-body">
            {{ dump(activeChampionships) }}
        </main>
    </div>

</div>
{% endblock %}
