{% extends 'base.html.twig' %}

{% block title %}Créer un championat{% endblock %}

{% block body %}
    <section class="bg-body-secondary col-md-6 p-3">
        <h1>Créer un championat</h1>
        <div>
            {{ include('championship/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
