{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    <section class="bg-body-secondary col-md-6 p-3">

    <h1>Modifier un tournois</h1>
    <div>
        {{ include('tournament/_form.html.twig') }}
    </div>
    </section>
{% endblock %}
