body {
    background-color: lightgray;
}

main > .container-fluid {
    padding: 60px 15px;
}

label.form-label.required:after {
    content: "*";
    color: red;
}

ul:has(li.team-collection-item) {
    counter-reset: li;
    list-style: none;

}

li.team-collection-item > p:after {
    content: counter(li);
    counter-increment: li;
}