body {
    background-color: lightgray;
}

main.flex-grow-1 > .container-fluid {
    padding: 60px 15px;
}

label.form-label.required:after {
    content: "*";
    color: red;
}

div:has(div.team-collection-item) {
    counter-reset: li;
    list-style: none;

}

div.team-collection-item > p:after {
    content: counter(li);
    counter-increment: li;
}

.htmx-indicator{
    display: none;
}

.htmx-request .htmx-indicator.spinner-border{
    display:inline-block;
}

.fade-in.htmx-added {
    opacity: 0;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

details.accordion-item:not([open]) > .accordion-button {
    background-color: var(--bs-accordion-bg);
}

details.accordion-item:not([open]):last-of-type > .accordion-button {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}

details.accordion-item:not([open]) > .accordion-button::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: unset;
}

details.accordion-item[open] > .accordion-button::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}
