body {
    background-color: lightgray;
}

main.flex-grow-1 > .container-fluid {
    padding: 60px 15px;
}

label.form-label.required:after {
    content: "*";
    color: red;
}

div:has(div.team-collection-item) {
    counter-reset: li;
    list-style: none;

}

div.team-collection-item > p:after {
    content: counter(li);
    counter-increment: li;
}